<div class="users-table-header__container">
  <div class="users-table-header__search">
    <img class="users-table-header__search-icon" src="assets/users/search.svg" alt="search icon">
    <input #inputSearch (keyup)="setfilter({keyword:inputSearch.value})" class="users-table-header__input" type="text" placeholder="Búsqueda">
  </div>
  <div class="users-table-header__filter">
    <div>
      <select #selectPerPage (change)="setPagination(selectPerPage.value)" class="users-table-header__select mr-10">
        <option value="5">5 por página</option>
        <option value="8" selected>8 por página</option>
        <option value="12">12 por página</option>
      </select>
      <select #selectOrder (change)="setfilter({order:selectOrder.value})" class="users-table-header__select mr-10">
        <option selected disabled>Orden</option>
        <option value="a-z">Ordenar de A - Z</option>
        <option value="z-a">Ordenar de Z - A</option>
      </select>
      <select #selectStatus (change)="setfilter({rol:selectStatus.value})" class="users-table-header__select mr-20">
        <option value="all">Todos</option>
        <option value="1">Dueño</option>
        <option value="2">Administrador</option>
        <option value="3">Staff</option>
      </select> 
    </div>
    <div class="users-table-header__views">
      <button (click)="changeView('list')" class="users-table-header__btn mr-10">
        <img class="users-table-header__icon" src="assets/users/list.svg" alt="list">
      </button>
      <button (click)="changeView('squares')" class="users-table-header__btn">
        <img class="users-table-header__icon" src="assets/users/square.svg" alt="square">
      </button>
    </div>
  </div>
</div>