@import "../../../variables";
.message{
  &__wrapper{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__container{
    background: $message-success-bg;
    padding: 15px 25px;
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 20px;
    align-items: center;
    width: 500px;
    transform: translateY(-150%);
    animation: enter 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  &__icon{
    width: 40px;
    height: 40px;
  }
  &__text{
    color: white;
    font-size: 14px;
    line-height: 18px;
  }
}
@keyframes enter{
  from{
    transform: translateY(-150%);
  }
  to{
    transform: translateY(0);
  }
}