<div *ngIf="modalService.modals && modalService.modals.user" class="modal__overlay">
  <div class="modal__wrapper">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="modal__container">
      <div class="modal__header">
        <h4 class="modal__title">
          Agregar nuevo usuario
        </h4>
      </div>
      <div class="modal__body">
        <p class="modal__title-label">
          Foto de perfil
        </p>
        <div class="modal__profile-picture-container">
          <div class="modal__img-container">
            <img src="assets/header/user.png" alt="profile picture" class="modal__img">
            <div class="modal__img-edit">
              <img src="assets/users/edit.svg" alt="edit">
            </div>
          </div>
          <div>
            <p class="modal__label">
              JPG, PNG | Tamaño mínimo de 300px x 300px
            </p>
            <button type="button" class="modal__orange-btn sm">
              Subir foto
            </button>
          </div>
        </div>
        <p class="modal__title-label">
          Información básica
        </p>
        <div  class="modal__form">
          <div class="modal__input-content">
            <label class="modal__input-label">
              <input #name [class.fill]="name.value" formControlName="name" class="modal__input" type="text">
              <span>Nombre</span>
            </label>
          </div>
          <div class="modal__input-content">
            <label class="modal__input-label">
              <input #fathersLastName [class.fill]="fathersLastName.value" formControlName="fathersLastName" class="modal__input" type="text">
              <span>Apellido Paterno</span>
            </label>
          </div>
          <div class="modal__input-content">
            <label class="modal__input-label">
              <input #mothersLastName [class.fill]="mothersLastName.value" formControlName="mothersLastName" class="modal__input" type="text">
              <span>Apellido Materno</span>
            </label>
          </div>
          <div class="modal__input-content">
            <label class="modal__input-label">
              <input #email [class.fill]="email.value" formControlName="email" class="modal__input" type="text">
              <span>Correo electrónico</span>
            </label>
          </div>
          <select formControlName="roleId" class="modal__select">
            <option value="null">Rol</option>
            <option *ngFor="let rol of getRoles(userService.roles)" [value]="rol">
              {{userService.roles[rol]}}
            </option>
          </select>
          <div class="modal__status">
            <label class="modal__status-label mr-10">Inactivo</label>
            <div>
              <label class="toggle-button mr-10">
                <input formControlName="active" class="toggle-button__input" type="checkbox">
                <span class="toggle-button__slider"></span>
              </label>
            </div>
            <label class="modal__status-label">Activo</label>
          </div>
        </div>
      </div>
      <div *ngIf="error" class="modal__error">
        <small>Parece que hay algunos errores</small>
      </div>
      <div class="modal__actions">
        <button type="button" class="modal__close-btn mr-20" (click)="cleanForm();modalService.closeModal('user')">
          Cancelar
        </button>
        <button class="modal__orange-btn" type="submit">
          Guardar usuario
        </button>
      </div>
    </form>
  </div>
</div>