<div class="users-header__container">
  <div class="users-header__text">
    <h4 class="users-header__title">Usuarios</h4>
    <p class="users-header__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
  <div class="users-header__actions">
    <button class="users-header__btn mr-20 white">
      <img class="users-header__icon" src="assets/button/eye.svg">
      Previsualizar
    </button>
    <button class="users-header__btn orange">
      <img class="users-header__icon" src="assets/button/plus.svg">
      Agregar un nuevo usuario
    </button>
  </div>
</div>