$break-lg:1280px;
$break-md:1080px;

$border-color:#E9E9E9;
$input-bg:#F9F9F9;
$orange:#FA6A00;

$header-bg:#ffffff;
$header-color:#5F5F5F;

$navbar-bg:#ffffff;
$navbar-color:#6B6B6B;
$navbar-copyright-color:#131B31;
$navbar-msg-color:#969696;

$main-bg:#f7f7f7;

$users-header-title-color:#131B31;
$users-header-description-color:#969696;

$users-table-header-color:#5F5F5F;

$users-table-list-color:#494949;

$toggle-button-bg:#E3E3E3;
$toggle-button-border:#DFDFDF;
$toggle-button-bg-active:#677FAC;

$message-success-bg:#6CC481;