<div class="users-table__container">
  <app-users-table-header
    (keyword)="userService.search($event)"
    (view)="changeView($event)"
    (filter)="filter($event)"
  ></app-users-table-header>
  <app-users-table-list
    *ngIf="view==='list'"
    [data]="!filterData ? !userService.results ? userService.users : userService.results : filterData"
    [roles]="userService.roles"
    (changeUserStatus)="userService.changeStatus($event)"
    (deleteUser)="userService.deleteUser($event)"
  ></app-users-table-list>
  <app-users-table-squares
    *ngIf="view==='squares'"
    [data]="!userService.results ? userService.users : userService.results"
    [roles]="userService.roles"
    (changeUserStatus)="userService.changeStatus($event)"
    (deleteUser)="userService.deleteUser($event)"
  ></app-users-table-squares>
</div>
<app-modal-active-users></app-modal-active-users>
<app-modal-user *ngIf="modalService.modals && modalService.modals.user"></app-modal-user>
<app-message></app-message>