<div class="users-table__container">
  <app-users-table-header
    (keyword)="userService.search($event)"
  ></app-users-table-header>
  <app-users-table-list
    [data]="!userService.results ? userService.users : userService.results"
    [roles]="userService.roles"
    (changeUserStatus)="userService.changeStatus($event)"
    (deleteUser)="userService.deleteUser($event)"
  ></app-users-table-list>
</div>
<app-modal-active-users></app-modal-active-users>
<app-modal-user></app-modal-user>
<app-message></app-message>